body{
  text-align: center;
  font-family: sans-serif;
}
h1{
  font-size: 1.9em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1.6em;
}
/*container that holds the product listing cards*/
.productCardsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
/*a card for every product*/
.card{
  float: left;
  width: 50%;
  display: block;
  padding: 2%;
}
/*container that stores the image within the product cards*/
.imgContainer{
  width:100%;
  height:70%;
  text-align: center;
  display:block;
}
/*image settings*/
img{
  width:70%;
  height: auto;
}

/*when the screen reaches a certain size (larger-screened computers) it will
change to these settings*/
@media screen and (min-width:770px){
.productCardsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.card{
  float: left;
  width: 40%;
  height: 60%;
  display: block;
  padding: 2%;
}
.imgContainer{
  width:100%;
  height:70%;
  text-align: center;
  display:block;
}
img{
  width:50%;
  height: auto;
}
