body{
  text-align: center;
  font-family: sans-serif;
}
h1{
  font-size: 1.9em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1.6em;
}
.productCardsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.card{
  float: left;
  width: 40%;
  height: 60%;
  display: block;
  padding: 2%;
}
.imgContainer{
  width:100%;
  height:70%;
  text-align: center;
  display:block;
}
img{
  width:50%;
  height: auto;
}
